.slideshow > span {
    animation: imageAnimation 24s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    /* color: transparent; */
    height: 100vh;
    left: 0px;
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100%;
  }

.slideshow > span:nth-child(1) { 
    background-image: url('../slideshow/1.jpg'); }

.slideshow > span:nth-child(2) {
    animation-delay: 6s;
    background-image: url('../slideshow/2.jpg');
}

.slideshow > span:nth-child(3) {
    animation-delay: 12s;
    background-image: url('../slideshow/3.jpg');
}

.slideshow > span:nth-child(4) {
    animation-delay: 18s;
    background-image: url('../slideshow/4.jpg');
}


@keyframes 
imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}