.chatbox {
  width: 40%;
  height: 80%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 30%;
  top: 10%;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  border: .1rem outset;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.6);
}

.chatbox-togg {
  visibility: visible;
  opacity: 0.9;
  /* transition: opacity 0.7s ease; */
  cursor: pointer;
  z-index: 8;
}

#id_name {
  width: 85%;
  height: 30px;
  position: relative;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-style: solid;
  resize: none;
}


.formcontainer {
  width: 100%;
}
.btn-primary{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(240, 210, 38);
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}