{% extends "index.html" %}
{%load static%}
{% block content %}
<div class=" col-md-3 formcontainer">
	<form method="POST" class="my-ajax-form" data-url="">
		{% csrf_token %}
		{{form}}
		<input type="submit" value="submit" class="btn-primary">
	</form>
</div>
    
	{% comment %} <div id = "msg"></div> {% endcomment %}
{% endblock content %}

{% block dev %}
<div class="developers-container">
      <h1 class="heading">MEET THE GUYS BEHIND THE SUCCESS</h1>
      <div class="dev-card-wrapper">
        <div class="dev-card">
          <img src="{% static "minor/img/card-bg.png" %}" alt="dev-card-background" class="dev-card-img">
          <img src="{% static "minor/img/gs.jpeg" %}" alt="dev-profile-image" class="dev-profile-img">
          <h1>Gurpreet Singh</h1>
          <p class="role">Head Developer</p>
          <p class="about">The best man in the world</p>
          <a href="mailto:gsingh0719@gmail.com" class="btn">Contact</a>
          
          <ul class="social-media">
            <li><a href="https://github.com/grestonian" target="blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/gurpreetsingh0719" target="blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100035708628108" target="blank"><i class="fa fa-facebook"></i></a></li>
            {% comment %} <li><a href="#"><i class="fa fa-google"></i></a></li> {% endcomment %}
          </ul>
        </div>

        <div class="dev-card">
          <img src="{% static "minor/img/card-bg.png" %}" alt="dev-card-background" class="dev-card-img">
          <img src="{% static "minor/img/as.png" %}" alt="dev-profile-image" class="dev-profile-img">
          <h1>Ajaypal Singh</h1>
          <p class="role">Model Developer</p>
          <p class="about">kaasfasocmaslc,asa</p>
          <a href="#" class="btn">Contact</a>

          <ul class="social-media">
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/ajaypalsingh.gill.1253" target="blank"><i class="fa fa-facebook"></i></a></li>
              {% comment %} <li><a href="#"><i class="fa fa-google"></i></a></li> {% endcomment %}
            </ul>
        </div>

        <div class="dev-card">
          <img src="{% static "minor/img/card-bg.png" %}" alt="dev-card-background" class="dev-card-img">
          <img src="{% static "minor/img/hs.jpeg" %}" alt="dev-profile-image" class="dev-profile-img">
          <h1>Harinderpal Singh</h1>
          <p class="role">Tester</p>
          <p class="about">kaasfasocmaslc,asa</p>
          <a href="mailto:harrysinghdh6@gmail.com" class="btn">Contact</a>

          <ul class="social-media">
              <li><a href="https://github.com/harry363" target="blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/harinder-singh-98bb5318a" target="blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/harry363" target="blank"><i class="fa fa-facebook"></i></a></li>
              {% comment %} <li><a href="#"><i class="fa fa-google"></i></a></li> {% endcomment %}
            </ul>
        </div>

        <div class="dev-card">
          <img src="{% static "minor/img/card-bg.png" %}" alt="dev-card-background" class="dev-card-img">
          <img src="{% static "minor/img/rs.png" %}" alt="dev-profile-image" class="dev-profile-img">
          <h1>Ravdeep Singh</h1>
          <p class="role">Trainer</p>
          <p class="about">kaasfasocmaslc,asa</p>
          <a href="" class="btn">Contact</a>

          <ul class="social-media">
              <li><a href="https://github.com/rs221b" target="blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/ravdeep-singh-82b21117a/" target="blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/ravdeep.singh.180072" target="blank"><i class="fa fa-facebook"></i></a></li>
              {% comment %} <li><a href="#"><i class="fa fa-google"></i></a></li> {% endcomment %}
            </ul>
        </div>
      </div>
    </div>

{% endblock dev %}


{% block javascript %}
<script type="text/javascript">

</script>
{% endblock javascript %}